.btn {
  padding: 2px 10px; 
  border: 1px #c46 solid;
  border-radius: 2px;
  &-primary {
    color: white;
    background: #c46;
  }
  &-secondary {
    color: black;
    background: #edbcc8;
  }

  &:disabled {
    opacity: 0.5;
  }
}